<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @cst.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @cst.nome %>
</p>


<%= link_to 'Edit', edit_cst_path(@cst) %> |
<%= link_to 'Back', csts_path %>
