<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @budget.cliente_id %>
</p>

<p>
  <b>Clientenome:</b>
  <%= @budget.clientenome %>
</p>

<p>
  <b>Clienteendereco:</b>
  <%= @budget.clienteendereco %>
</p>

<p>
  <b>Clientenumero:</b>
  <%= @budget.clientenumero %>
</p>

<p>
  <b>Clientebairro:</b>
  <%= @budget.clientebairro %>
</p>

<p>
  <b>Clientecidade:</b>
  <%= @budget.clientecidade %>
</p>

<p>
  <b>Clientecep:</b>
  <%= @budget.clientecep %>
</p>

<p>
  <b>Clienteestado:</b>
  <%= @budget.clienteestado %>
</p>

<p>
  <b>Vendedor:</b>
  <%= @budget.vendedor_id %>
</p>

<p>
  <b>Vendedornome:</b>
  <%= @budget.vendedornome %>
</p>

<p>
  <b>Formapagamento:</b>
  <%= @budget.formapagamento_id %>
</p>

<p>
  <b>Valorfrete:</b>
  <%= @budget.valorfrete %>
</p>

<p>
  <b>Valorseguro:</b>
  <%= @budget.valorseguro %>
</p>

<p>
  <b>Valoroutrasdespesas:</b>
  <%= @budget.valoroutrasdespesas %>
</p>

<p>
  <b>Tipodesconto:</b>
  <%= @budget.tipodesconto %>
</p>

<p>
  <b>Quantidadedesconto:</b>
  <%= @budget.quantidadedesconto %>
</p>

<p>
  <b>Valortotaldesconto:</b>
  <%= @budget.valortotaldesconto %>
</p>

<p>
  <b>Quantidadecomissao:</b>
  <%= @budget.quantidadecomissao %>
</p>

<p>
  <b>Valortotalcomissao:</b>
  <%= @budget.valortotalcomissao %>
</p>

<p>
  <b>Valortotalprodutos:</b>
  <%= @budget.valortotalprodutos %>
</p>

<p>
  <b>Valortotalpedido:</b>
  <%= @budget.valortotalpedido %>
</p>


<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
