<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @csosn.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @csosn.nome %>
</p>


<%= link_to 'Edit', edit_csosn_path(@csosn) %> |
<%= link_to 'Back', csosns_path %>
