<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @unit.nome %>
</p>

<p>
  <b>Abreviado:</b>
  <%= @unit.abreviado %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
