<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Referência: <br />
    <%= f.text_field :referencia %>
  </div>
  <div class="field">
    Nome: <br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    Saldo Atual: <br />
    <%= f.text_field :saldoatual %>
  </div>
  <div class="field">
    Unidade: <br />
    <%= f.text_field :unidade %>
  </div>
  <div class="field">
    Último Valor de Compra: <br />
    <%= f.text_field :valorcompra %>
  </div>
  <div class="field">
    Valor de Compra Médio: <br />
    <%= f.text_field :valorcompramedio %>
  </div>
  <div class="field">
    Valor de Venda: <br />
    <%= f.text_field :valorvenda %>
  </div>
  <div class="field">
    NCM: <br />
    <%= f.text_field :ncm_id %>
  </div>
  <div class="field">
    Peso Líquido: <br />
    <%= f.text_field :pesoliquido %>
  </div>
  <div class="field">
    Peso Bruto: <br />
    <%= f.text_field :pesobruto %>
  </div>
  <div class="field">
    Volume M3: <br />
    <%= f.text_field :volumem3 %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar" %>
  </div>
<% end %>
