<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @sale.cliente_id %>
</p>

<p>
  <b>Clientenome:</b>
  <%= @sale.clientenome %>
</p>

<p>
  <b>Clienteendereco:</b>
  <%= @sale.clienteendereco %>
</p>

<p>
  <b>Clientenumero:</b>
  <%= @sale.clientenumero %>
</p>

<p>
  <b>Clientebairro:</b>
  <%= @sale.clientebairro %>
</p>

<p>
  <b>Clientecidade:</b>
  <%= @sale.clientecidade %>
</p>

<p>
  <b>Clientecep:</b>
  <%= @sale.clientecep %>
</p>

<p>
  <b>Clienteestado:</b>
  <%= @sale.clienteestado %>
</p>

<p>
  <b>Vendedor:</b>
  <%= @sale.vendedor_id %>
</p>

<p>
  <b>Vendedornome:</b>
  <%= @sale.vendedornome %>
</p>

<p>
  <b>Formapagamento:</b>
  <%= @sale.formapagamento_id %>
</p>

<p>
  <b>Valorfrete:</b>
  <%= @sale.valorfrete %>
</p>

<p>
  <b>Valorseguro:</b>
  <%= @sale.valorseguro %>
</p>

<p>
  <b>Valoroutrasdespesas:</b>
  <%= @sale.valoroutrasdespesas %>
</p>

<p>
  <b>Tipodesconto:</b>
  <%= @sale.tipodesconto %>
</p>

<p>
  <b>Quantidadedesconto:</b>
  <%= @sale.quantidadedesconto %>
</p>

<p>
  <b>Valortotaldesconto:</b>
  <%= @sale.valortotaldesconto %>
</p>

<p>
  <b>Quantidadecomissao:</b>
  <%= @sale.quantidadecomissao %>
</p>

<p>
  <b>Valortotalcomissao:</b>
  <%= @sale.valortotalcomissao %>
</p>

<p>
  <b>Valortotalprodutos:</b>
  <%= @sale.valortotalprodutos %>
</p>

<p>
  <b>Valortotalpedido:</b>
  <%= @sale.valortotalpedido %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
